version: 1.0.{build}
image:
- Visual Studio 2017
- Visual Studio 2015
test: off
platform:
- x64
- x86
environment:
  matrix:
  - CONDA: 36
  - CONDA: 27
matrix:
  fast_finish: true  # Stop remaining jobs after a job failure
install:
- ps: |
    if ($env:PLATFORM -eq "x64") { $env:CMAKE_ARCH = "x64" }
    if ($env:APPVEYOR_JOB_NAME -like "*Visual Studio 2017*") { $env:CMAKE_GENERATOR = "Visual Studio 15 2017" }
    else { $env:CMAKE_GENERATOR = "Visual Studio 14 2015" }
    if ($env:PYTHON) {
      if ($env:PLATFORM -eq "x64") { $env:PYTHON = "$env:PYTHON-x64" }
      $env:PATH = "C:\Python$env:PYTHON\;C:\Python$env:PYTHON\Scripts\;$env:PATH"
      pip install --disable-pip-version-check --user --upgrade pip wheel
      pip install pytest numpy scipy
    } elseif ($env:CONDA) {
      if ($env:CONDA -eq "27") { $env:CONDA = "" }
      if ($env:PLATFORM -eq "x64") { $env:CONDA = "$env:CONDA-x64" }
      $env:PATH = "C:\Miniconda$env:CONDA\;C:\Miniconda$env:CONDA\Scripts\;$env:PATH"
      conda install -y -q pytest numpy scipy
    }
- ps: |
    Start-FileDownload 'http://bitbucket.org/eigen/eigen/get/3.3.0.zip'
    7z x 3.3.0.zip -y > $null
    $env:CMAKE_INCLUDE_PATH = "eigen-eigen-26667be4f70b"
build_script:
- cmake -G "%CMAKE_GENERATOR%" -A "%CMAKE_ARCH%" -DPYBIND11_WERROR=ON
- set MSBuildLogger="C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
- cmake --build . --config Release --target pytest -- /v:m /logger:%MSBuildLogger%
- cmake --build . --config Release --target test_cmake_build -- /v:m /logger:%MSBuildLogger%
on_failure: if exist "tests\test_cmake_build" type tests\test_cmake_build\*.log
