---
# See all possible options and defaults with:
# clang-format --style=llvm --dump-config
BasedOnStyle: LLVM
AccessModifierOffset: -4
ColumnLimit: 99
IndentWidth: 4
Language: Cpp
Standard: Cpp11
TabWidth: 4
...
