FormatStyle: file

Checks: '
llvm-namespace-comment,
modernize-avoid-bind,
modernize-replace-auto-ptr,
modernize-replace-disallow-copy-and-assign-macro,
modernize-shrink-to-fit,
modernize-use-auto,
modernize-use-equals-default,
modernize-use-equals-delete,
modernize-use-emplace,
modernize-use-override,
modernize-use-using,
*performance*,
readability-container-size-empty,
'

CheckOptions:
- key:             performance-unnecessary-value-param.AllowedTypes
  value:           'exception_ptr$;'

HeaderFilterRegex: 'pybind11/.*h'

WarningsAsErrors: '*'
