recursive-include include/pybind11 *.h
recursive-include pybind11 *.h
recursive-include pybind11 *.cmake
recursive-include pybind11 *.py
recursive-include tools *.cmake
recursive-include tools *.in
include CMakeLists.txt LICENSE README.md .github/CONTRIBUTING.md
